[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
logger = {editable = true, ref = "v0.1.0", git = "https://github.com/hankadler/python-logger"}

[requires]
python_version = "3.9"
